version: 2
updates:
  # Dependencies in our CI
  - package-ecosystem: github-actions
    # Workflow files stored in the default location of `.github/workflows`. (You
    # don't need to specify `/.github/workflows` for `directory`. You can use
    # `directory: "/"`.)
    directory: /
    schedule:
      # Our dependencies should be checked daily
      interval: daily
    cooldown:
      default-days: 7
    commit-message:
      prefix: deps(ci)
      prefix-development: deps(ci)

  # Dependencies in our packages

  - package-ecosystem: npm
    directory: /
    schedule:
      # Our dependencies should be checked daily
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 20
    commit-message:
      prefix: deps
      prefix-development: deps(dev)
