version: 2
updates:
  # Dependencies in our CI
  - package-ecosystem: github-actions
    # Workflow files stored in the default location of `.github/workflows`. (You
    # don't need to specify `/.github/workflows` for `directory`. You can use
    # `directory: "/"`.)
    directory: /
    schedule:
      # Our dependencies should be checked daily
      interval: daily
    cooldown:
      default-days: 7
    commit-message:
      prefix: deps(ci)
      prefix-development: deps(ci)

  # Dependencies in our packages

  - package-ecosystem: npm
    directory: /
    schedule:
      # Our dependencies should be checked daily
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 20
    commit-message:
      prefix: deps
      prefix-development: deps(dev)
    ignore:
      # Ignore updates for Buf and ConnectRPC v2 and above
      - dependency-name: "@bufbuild/protobuf"
        versions: [">=2"]
      - dependency-name: "@connectrpc/connect"
        versions: [">=2"]
      - dependency-name: "@connectrpc/connect-node"
        versions: [">=2"]
      - dependency-name: "@connectrpc/connect-web"
        versions: [">=2"]
      # Ignore updates for jco above 1.5.0 due to unnecessary deps
      # Ref: https://github.com/bytecodealliance/jco/issues/500
      - dependency-name: "@bytecodealliance/jco"
        versions: [">1.5.0"]
