---
import background from '../assets/background.svg';
import DetectBot from '../components/DetectBot.astro';
import EmailValidation from '../components/EmailValidation.astro';
import Filters from '../components/Filters.astro';
import RateLimiting from '../components/RateLimiting.astro';
import SensitiveInfo from '../components/SensitiveInfo.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
      <Welcome server:defer>
        <div class="fallback" slot="fallback">Loading greeting...</div>
      </Welcome>
      <DetectBot />
      <RateLimiting />
      <EmailValidation />
      <SensitiveInfo />
      <Filters />
    </main>
  </div>
</Layout>


<style>
  .fallback {
    margin: 0 auto;
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #container {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    height: 100%;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }
  }
</style>
