---
const placeholder = "?? ?? ?? ?? ??"
---

<div id="rate-limiting">
  <span>Lottery numbers (rate limited):</span>
  <span id="rate-limiting-output" data-placeholder={placeholder}>{placeholder}</span>
  <button id="rate-limiting-roll">Roll</button>
</div>
<div id="rate-limiting-error"></div>

<script>
  const $roll = document.getElementById("rate-limiting-roll")!
  const $error = document.getElementById("rate-limiting-error")!
  const $output = document.getElementById("rate-limiting-output")!

  $roll.addEventListener("click", async () => {
    $error.innerText = "";
    $output.innerText = $output.dataset.placeholder ?? "";

    try {
      const res = await fetch("/randomizer.json");
      if (res.status === 429) {
        $error.innerText = "You've been rate limited. Please wait before rolling again.";
        return;
      }
      if (res.status === 200) {
        const numbers = await res.json();
        $output.innerText = numbers.join(' ');
        return;
      }

      $error.innerText = "You've been blocked!";
    } catch (err) {
      console.log("An error occurred.", err);
    }
  });
</script>

<style>
  #rate-limiting,
  #rate-limiting-error {
    margin: 5px auto;
  }

  #rate-limiting-error {
    color: red;
  }

  #rate-limiting-error:empty {
    display: none;
  }
</style>
