---
import { actions } from 'astro:actions';

// Pages that use Astro Actions can be prerendered because the form submission
// via POST is never prerendered.
export const prerender = true;

const result = Astro.getActionResult(actions.sensitiveInfo);
---

<div id="sensitiveInfo">
  {result ? (
    <div>{result.error ? result.error.message || result.error.code : result.data}</div>
  ) : (
    <form  method="POST" action={actions.sensitiveInfo}>
      <label for="content">Check sensitive info:</label>
      <input id="content" required type="text" name="content" />
      <button>Submit</button>
    </form>
  )}
</div>

<style>
  #sensitiveInfo {
    margin: 5px auto;
  }
</style>
