name: Push

on:
  push:
    # Only ever run `push` events against protected branches, likely just `main`
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run tests
    uses: ./.github/workflows/reusable-test.yml
    permissions:
      contents: read

  examples:
    name: Build examples
    uses: ./.github/workflows/reusable-examples.yml
    permissions:
      contents: read

  release:
    runs-on: ubuntu-latest
    # Release Please is very fast, so we set a tiny timeout
    timeout-minutes: 2
    # Release Please creates a Pull Request with changes to files
    permissions:
      contents: write
      pull-requests: write
    steps:
      # Environment security
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: audit

      - name: Release Please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
