# Our reusable workflow files only use the `workflow_call` event and don't
# specify a `concurrency` limit so those things can be managed by the caller.
name: Reusable test workflow

on: [workflow_call]

env:
  DO_NOT_TRACK: "1"
  NEXT_TELEMETRY_DISABLED: "1"
  TURBO_TELEMETRY_DISABLED: "1"

jobs:
  bun-test:
    name: Bun
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          allowed-endpoints: >
            api.github.com:443
            decide.arcjet.com:443
            github.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            release-assets.githubusercontent.com:443
          disable-sudo-and-containers: true
          egress-policy: block
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version: 1.2.19
      - run: bun install && bun run build
      - run: bun test
        working-directory: arcjet-bun
  deno-test:
    name: Deno
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          allowed-endpoints: >
            api.github.com:443
            decide.arcjet.com:443
            deno.com:443
            github.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            release-assets.githubusercontent.com:443
          disable-sudo-and-containers: true
          egress-policy: block
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20
      - uses: denoland/setup-deno@bdaa2e4f849cbc8d7b46337cf37db0dc9b321074 # v2.0.3
        with:
          deno-version: v2.4.2
      - run: npm ci && npm run build
      - run: deno test test/**/*.test.ts --allow-env --allow-net --no-check
        working-directory: arcjet-deno
  node-test:
    name: "Run tests (OS: ${{matrix.os}}, Node: ${{ matrix.node }})"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node:
          - 20
          - 22
          - 24
        os: [ubuntu-latest]
    permissions:
      contents: read
    steps:
      # Environment security
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            decide.arcjet.com:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            release-assets.githubusercontent.com:443

      # Checkout
      # Most toolchains require checkout first
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # Language toolchains
      - name: Install Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}

      # Workflow

      - name: Install dependencies
        run: npm ci && npm run build

      - name: Run tests
        run: npm test
